.nowshowing {
  height: 500px;
  background-color: rgb(245, 246, 248);
  padding: 3rem 5rem 0;
}

.nowshowing__text {
  margin: 0 15px;
  color: var(--primary);
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

/* .nowshowing__text:active {
    text-decoration: underline;
  } */

.nowshowing__text--items {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.nowshowing__text--items-secondary {
  color: rgb(185, 185, 185);
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.nowshowing__btn {
  background-color: #ffffff;
  border: 2px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  margin-top: 25px;
  width: 150px;
  padding: 6px;
}

.nowshowing__btn:hover {
  border: 2px solid var(--primaryhover);
  color: var(--primaryhover);
}

.nowshowing__btn:focus {
  background-color: #ffffff;
  box-shadow: 0 0 0 5px rgba(95, 46, 234, 0.1);
}

.card-home {
  height: 100%;
  margin: 0 40px;
  min-width: 14rem;
  padding: 20px;
  border-radius: 4%;
}

.card-desc {
  display: none;
}

/* .card:hover {
    height: 400px;
  } */

.card-home:hover .card-desc {
  display: block;
}

@media (max-width: 575.98px) {
  .card-home {
    height: 100% !important;
    margin: 15px 15px !important;
    min-width: 12rem !important;
    padding: 15px !important;
    border-radius: 4% !important;
  }

  .nowshowing {
    height: 500px;
    padding-top: 3rem;
  }

  .nowshowing__text {
    font-size: 18px;
  }

  .nowshowing__text--items {
    font-size: 14px;
  }

  .nowshowing__text--items-secondary {
    font-size: 11px;
  }

  .nowshowing__btn {
    margin-top: 20px;
    width: 100px;
    padding: 3px;
  }
}
