.main__title-payment {
  padding-top: 56px;
}

.main__personal {
  padding-top: 56px;
}

.main__title--text {
  font-size: 30px;
  font-weight: 700;
}

.card-payment {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 20px;
  text-align: center;
}

@media (max-width: 575.98px) {
  .main__title-payment {
    padding: 0 !important;
  }
  .main__title {
    margin: 0 -15px !important;
    padding: 10px 0 !important;
  }
  .card-payment {
    border-radius: 25px !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 0 0 0 !important;
  }
  .card-mobile {
    padding: 50px 0 0 0 !important;
  }

  .card-mobile > div > p {
    font-size: 20px !important;
    margin: 10px 10px;
  }
  .dekstop {
    display: none !important;
  }
}
