* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

.container-fluid-signin {
  padding: 0;
}

.banner {
  height: 100vh !important;
  padding: 0;
  /* background-color: var(--primary); */
}

.form {
  height: 100vh;
  background-color: var(--backgroundcolor);
}

.background-img {
  background-image: url("../../assets/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 575.98px) {
  .banner {
    display: none;
  }
}
