* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

.row {
  padding: 0;
}

.col-8 {
  padding: 0;
}

.col-4 {
  padding: 0;
}

h1 {
  color: aqua;
}

h3 {
  font-size: 30px;
}

.background-img {
  /* padding: 20em; */
  background-image: url("../../assets/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: flex;
  flex-direction: column;
  background-color: rgba(57, 22, 153, 0.7);
  /* background-color: aquamarine; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-logo {
  max-width: calc(100% - 200px);
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 20px;
}

.form-login {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10%;
}

.title-form {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.title-form-desc {
  color: gray;
  font-size: 18px;
}

.wrap-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

label {
  font-size: 19px;
  font-weight: 500;
}

input {
  border: none;
  width: 100%;
  padding: 6px 0;
}

.btn-icon {
  width: 35px;
  border: none;
  background-color: transparent;
}

.icon {
  width: 100%;
}

.input {
  display: flex;
  margin-top: 10px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 15px;
  height: 60px;
  padding: 10px 20px;
}

.input:hover {
  border: 2px solid rebeccapurple;
}

.input:focus {
  border: 5px solid rebeccapurple;
}

.wrap-button {
  margin: 20px 0;
}

.btn-primary {
  width: 100%;
  background-color: rgb(119, 0, 255);
  border: none;
  padding: 19px 0;
  border-radius: 15px;
}

.logo-mobile {
  display: none;
}

@media (max-width: 575.98px) {
  .banner {
    display: none;
  }

  .logo-mobile {
    /* margin-top: 0px; */
    display: block;
    width: 105px;
  }

  .title-form {
    font-size: 35px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .title-form-desc {
    margin-bottom: 25px;
    font-size: 15px;
  }

  form {
    margin: 5%;
  }

  .form-login {
    width: 100%;
    justify-content: start;
    align-items: flex-start;
  }

  .form {
    width: 100%;
  }

  label {
    font-size: 17px;
    font-weight: 500;
  }

  input {
    font-size: 15px;
    border: none;
    width: 90%;
    padding: 6.5px 0;
  }

  .input-icon {
    width: 30px;
  }
}
