.btn__update {
  background-color: #ffffff;
  border: 2px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  margin-top: 25px;
  width: 150px;
  padding: 6px;
}

.btn__update:hover {
  border: 2px solid var(--primaryhover);
  color: var(--primaryhover);
}

.btn__update:focus {
  background-color: #ffffff;
  box-shadow: 0 0 0 5px rgba(95, 46, 234, 0.1);
}

.btn__delete {
  background-color: #ffffff;
  border: 2px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin-top: 25px;
  width: 150px;
  padding: 6px;
}

.btn__delete:hover {
  border: 2px solid var(--error);
  color: var(--error);
}

.btn__delete:focus {
  background-color: #ffffff;
  box-shadow: 0 0 0 5px rgba(95, 46, 234, 0.1);
}

@media (max-width: 575.98px) {
  .btn__update {
    margin-top: 20px;
    width: 100px;
    padding: 3px;
  }
  .btn__delete {
    margin-top: 20px;
    width: 100px;
    padding: 3px;
  }
}
