:root {
  --titlecolor: rgb(20, 20, 42);
  --bodycolor: rgb(78, 75, 102);
  --labelcolor: rgb(110, 113, 145);
  --placeholdercolor: rgb(160, 163, 189);
  --linecolor: rgb(222, 222, 22);
  --inputbackgroundcolor: rgb(239, 240, 246);
  --backgroundcolor: rgb(247, 247, 252);
  --off-white: rgb(252, 252, 252);

  --textbackground: rgb(242, 243, 246);

  --primary: rgb(95, 46, 234);
  --secondary: rgb(28, 200, 238);
  --error: rgb(237, 46, 126);
  --success: rgb(0, 186, 136);
  --warning: rgb(244, 183, 64);

  --primaryhover: rgb(42, 0, 162);
  --primarydisabled: rgb(175, 150, 244);
}
